extends layout

block content
    .dark-bg
        .container
            #lobby
                h1.game-font Gameanite
                hr
                .create-lobby
                    form(class="create-game-form",role="form")
                        fieldset.form-group
                            label(for="gameName") Game Name
                            input(type="text", name="gameName", class="gameName form-control",required="required")            
                        fieldset.form-group
                            label(for="gameUpload") Upload Gamefile
                            input(type="file", name="gameUpload", class="gameUpload form-control", required="required")      
                        button(type="submit",class="game-font") Create Game
    .gameanite-wrapper
    .debug-btns
        button.btn-primary.MOVE Move 1
        button.btn-primary.NP New Player

    .players-screen
        ul.player-list